config NUBIA_SENSORS_FP_FPC1020
	tristate "nubia sensors fp fpc1020"
	depends on NUBIA_SENSORS_FP
	default n
	help
	  This is the main file for fingerprint driver for fpc1020.
	  Say Y here if you have a fpc1020 fingerprint connected
	  to your system.
